:root {
  color-scheme: light dark;
  box-sizing: border-box;
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

button,
select,
input,
iframe,
textarea {
  border: none;
  outline: none;

}

button {
  cursor: pointer;
  padding: 0.5rem 1.2rem;
}

img {
  max-width: 100%;
}

object {
  max-width: 100%;
}

.underline {
  text-decoration: underline $slate-50 5px;
  text-underline-offset: 8px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
  border-radius: 24px;
}

*::-webkit-scrollbar-corner {
  display: none;
}